@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Montserrat', sans-serif;

    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    max-width: 1673px;
    margin: 0 auto;
}

@import 'blocks/buttons';
@import 'blocks/header';
@import 'blocks/home';