.button {
    width: 294px;
    height: 53px;
    background: none;
    border: 2px solid #ffffff;

    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    &:hover {
        background-color:  #ffffff;
        color: #000000;
        transition: all 0.3s;
    }
    &:focus {
        outline: none;
    }
    &_home {
        margin-top: 22px;
    }
}