.description {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    color: #5b5b5c;
    margin-top: 53px;
    
    &_block {
        max-width: 680px;
        margin-top: 55px;
        font-size: 19px;
        letter-spacing: 4px;
    }
}