.photos {
    min-height: 2000px;
    padding: 105px 0 80px 0;
    &__carousel {
        margin-top: 97px;
    }
    &__slider {
        margin-bottom: 20px;
    }
    &__angle {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__counter {
        display: flex;
        font-size: 30px;
        font-weight: 500;
        color: #c5c5c5;
        p {
            margin: 0 14px;
        }
        a {
            width: 18px;
            height: 37px;
        }
        span {
            color: #000000;
        }
    }
}