.title {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    color: #c4c4c4;
    &_photos {
        font-size: 32px;
        font-weight: 700;
        color: #000000;
        text-align: center;
    }
}